.header{
    width: 100%;
    color: blueviolet;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: antiquewhite;
    padding: 20px;
    .logo{
        width: 100px;
    }
    .setting{
        cursor: pointer;
    }
}